.footer-container {
    max-width: 400px;
    align-self: center;
}

footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer a {
    font-size: 0;
}