@import "/node_modules/nes.css/css/nes.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  gap: 15px;
  padding: 10px 15px;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #D0B8A8;
  width: 100%;
}

.nes-container {
  margin: 0 !important;
}

/* Custom scroll-bar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #D0B8A8;
}

::-webkit-scrollbar-thumb {
  background: #212529;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e3236
}

@media (max-width: 520px) {

  .nes-input,
  .nes-textarea {
    width: 100% !important;
  }

  .bubble-container {
    flex-direction: column;
    gap: 10px !important;
  }

  .nes-octocat {
    order: 1;
    align-self: flex-start;
  }
}